# Dependency directories
node_modules/

# Environment variables file
.env

# Log files
logs/
*.log

# Debugging files
npm-debug.log*

# Mac and Windows files
.DS_Store
Thumbs.db

# IDE/Editor specific files
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Compiled files
dist/
